<a href="https://colab.research.google.com/github/seuz716/github-slideshow/blob/master/analisis%20de%20datos1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv('/content/Plantilla Proveedores_V5.csv', header= None)

In [3]:
data.columns = ['code','name','actividad','regime','ciudad']

In [8]:
data.head(10)

      code                          name  ...                  regime        ciudad
0  1067683             TONYS PEREZ PEREZ  ...                       0      MONTERIA
1  1177666    JUAN CARLOS TORRES PONGUTA  ...            SIMPLIFICADO      SOGAMOSO
2  2913770                  ARTURO CALLE  ...  GRANDES CONTRIBUYENTES          CALI
3  3352817   ELKIN MARIO MAYA ECHAVARRIA  ...            SIMPLIFICADO      MEDELLIN
4  3746303        JOSE LUIS BAUTE ARENAS  ...           REGIMEN COMUN  BARRANQUILLA
5  4261175     RAFAEL GUILLERMO SANDOVAL  ...            SIMPLIFICADO      SOGAMOSO
6  4266846  LUIS ENRIQUE OLIVEROS TOLOSA  ...            SIMPLIFICADO        BOGOTA
7  4377818   LUIS FELIPE DAVILA SAAVEDRA  ...            SIMPLIFICADO      ARMENIA
8  4452871        GERMAN CIFUENTES GOMEZ  ...                       0          CALI
9  6292457            ANTONIO MORA LENIS  ...                       0       PALMIRA

[10 rows x 5 columns]

In [9]:
data.actividad.unique()

array([   0, 7411, 5132, 5241, 6031, 7430, 5522, 5121, 2429, 7010,   10,
       8519, 2212, 5237, 7499, 4530, 5239, 4521, 4549, 4542, 8011, 7414,
       5229, 9309, 5243, 9214, 5190, 9249, 5511, 7492, 6423, 5234, 9213,
       5521, 1582, 5233, 5529, 5144, 7421, 3611, 7240, 5211, 5512, 5139,
       9241, 5249, 2899, 2220, 3230, 7130, 6041, 9311, 7020, 1551, 5123,
       5269, 1810, 8090, 7412, 5525, 8512, 7129, 5224,   90, 5219, 9500,
       5111, 5210, 1581, 4100, 8030, 1730, 6042, 5530, 1589, 6021, 5272,
       8515, 6412, 8521,  119, 7494, 9199, 7111, 5169, 6599, 6721, 5163,
       9111, 7426, 2232, 5119, 6421, 7491, 7220, 6714, 9211, 3699, 7493,
       1521, 5125, 6425, 2240, 2231, 7413, 6429, 5151, 5500, 5051, 3420,
       6602, 7290, 5164, 5170,  501, 7123, 2211, 6719, 7210, 1931, 6422,
       7200, 6044, 6601, 5011, 6340, 3000, 7250, 6512, 8532, 2100, 2109,
       6593, 7530, 1594, 2101, 5523, 6592, 6411, 3613,  130, 6426, 8514,
       5539, 6711, 9219, 7230, 1749, 5134, 6594, 5153, 2007, 5244, 9000])